<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/item"
        android:label="fabi"
        android:logo="@drawable/item"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ras"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Controleur.LivreActivity"
            android:exported="false" />
        <activity
            android:name=".Controleur.CategorieActivity"
            android:exported="false"
            android:parentActivityName=".Controleur.MainActivity" />
        <activity
            android:name=".Controleur.LicenceActivity"
            android:exported="false"
            android:label="Licence" />
        <activity
            android:name=".Controleur.EmpreinteActivity"
            android:exported="false" />
        <activity
            android:name=".Controleur.FingerPrintActivity"
            android:exported="false"
            android:label="Verrouillage par empreinte digitale"
            android:parentActivityName=".Controleur.ParametreActivity" />
        <activity
            android:name=".Controleur.EmailChangeActivity"
            android:exported="false" />
        <activity
            android:name=".Controleur.InfosActivity"
            android:exported="false" />
        <activity
            android:name=".Controleur.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controleur.ArchiverActivity"
            android:exported="false"
            android:label="Archiver"
            android:parentActivityName=".Controleur.MainActivity" />
        <activity
            android:name=".Controleur.ParametreActivity"
            android:exported="false"
            android:label="Parametres"
            android:parentActivityName=".Controleur.MainActivity" />
        <activity
            android:name=".Controleur.MessageImportantsActivity"
            android:exported="false"
            android:label="Message Importants"
            android:parentActivityName=".Controleur.MainActivity" />
        <activity
            android:name=".Controleur.SuggestionActivity"
            android:exported="false"
            android:label="Suggestion"
            android:parentActivityName=".Controleur.MainActivity" />
        <activity
            android:name=".Controleur.LoginActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name=".Controleur.RegesterActivity"
            android:exported="false"
            android:label="Inscrivez-vous" />
        <activity
            android:name=".Controleur.MainActivity"
            android:exported="true"
            android:icon="@drawable/item"
            android:label="fabi"
            android:logo="@drawable/item">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Controleur.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Controleur.Service.NoteService"
            android:exported="false" />
    </application>

</manifest>