<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_LEGACY_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_v2"
        android:label="EduNiger"
        android:logo="@mipmap/ic_v2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controleur.activity.ListPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.activity.AddBookActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.activity.AuthorActivity"
            android:exported="false" />
        <activity
            android:name=".controleur.activity.StructureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.PreRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".controleur.activity.PdfNinoView"
            android:exported="false" />
        <activity
            android:name="com.pspdfkit.ui.PdfActivity"
            android:theme="@style/MyApp.PSPDFKitTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".controleur.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.AudioPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.ContainerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".controleur.activity.BookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.LockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.CategoryActivity"
            android:exported="false"
            android:parentActivityName=".controleur.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.LicenceActivity"
            android:exported="false"
            android:label="Licence"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.ChangeEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.FingerPrintActivity"
            android:exported="false"
            android:label="Verrouillage par empreinte digitale"
            android:parentActivityName=".controleur.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.InfosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.SettingActivity"
            android:exported="false"
            android:label="Parametres"
            android:parentActivityName=".controleur.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.NotificationActivity"
            android:exported="false"
            android:label="Notification"
            android:parentActivityName=".controleur.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.SuggestionActivity"
            android:exported="false"
            android:label="Suggestion"
            android:parentActivityName=".controleur.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.LoginActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.RegisterActivity"
            android:exported="false"
            android:label="Inscrivez-vous"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controleur.activity.MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_v2"
            android:label="EduNiger"
            android:logo="@mipmap/ic_v2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".model.service.NotificationService"
            android:exported="false" />
        <service
            android:name=".model.service.AudioService"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <receiver
            android:name=".model.service.AudioReceiver"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="PLAY" />
                <action android:name="PAUSE" />
                <action android:name="STOP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".model.service.NotificationActionService" />

        <service android:name=".model.service.OnClearFromRecentService" />
    </application>

</manifest>